.navbar {
    /* border: 5px solid red; */
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 5px;
    margin: 20px;
    align-self: center;
}

.navbar__brand {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
}

.navbar__linksBox {
    display: flex;
    margin-left: auto;
    align-items: baseline;
}

.navbar__link__underline {
    margin: 23px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.navbar__link__underline:hover {
    text-decoration: underline;
}

.navbar__link__outline {
    background-color: transparent !important;
    border: 1px solid #fff !important;
    color: #fff !important;
    width: 120px !important;
    height: 45px !important;
    text-transform: inherit !important;
    font-weight: 600 !important;
    font-size: 15px !important;
}

.navbar__link__outline:hover {
    background-color: rgba(250, 250, 250, 0.7) !important;
    color: #111 !important;
    border: none !important;
    transition: 1s !important;
}

@media only screen and (max-width: 768px) {
    .navbar__link__outline {
        height: 35px !important;
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 375px) {
    .navbar__linksBox {
        flex-direction: column;
        display: none;
    }

    .navbar__link__outline {
        margin-top: 10px !important;
    }

    .navbar__link__outline {
        height: 35px !important;
        font-size: 15px !important;
    }
}